
extends layout

block append vars
  - bodyclass += ' article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  h1= page.title

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href='/') « Back to Home
